.container {
  display: flex;

  width: 100%;
  height: 100%;
}

.side {
  display: flex;
  flex-direction: column;

  width: 300px;

  overflow-y: auto;
}

.side-item {
  display: grid;
  place-items: center;

  width: 100%;
  height: 80px;

  font-size: 18px;
  font-weight: 400;

  cursor: pointer;
}

.side-item:hover,
.side-item.active:hover {
  background-color: lightgray;
}

.side-item.active {
  background-color: whitesmoke;
}

.main {
  display: flex;
  flex-direction: column;

  flex-grow: 2;

  justify-content: space-between;

  padding: 30px;
  height: 100%;

  border: 1px solid #3f51b5;
}

.main.empty {
  background-color: whitesmoke;
  border: none;
}

.main-actions {
  display: flex;
  align-items: center;

  gap: 20px;
}

.main-item {
  display: flex;

  max-width: 400px;
  min-height: 78px;


  align-items: start;
  justify-content: space-between;
}

.main-item span {
  font-size: 18px;
  font-weight: 500;

  margin-top: 15px;
}
