<mat-card style="max-width:600px; width:500px" (keydown)="onKeydown($event)">
  <mat-card-content>
    <div style="padding:10px;display:flex;flex-direction:column;justify-items:center;align-items:center;">
      <mat-form-field required> <mat-label>First Name</mat-label>
        <input matInput type="text" placeholder="First Name..." [(ngModel)]="firstName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder="Last Name..." [(ngModel)]="lastName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email..." [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password..." [(ngModel)]="password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Country Code</mat-label>
        <input matInput type="text" placeholder="Country Code..." [(ngModel)]="countryCode">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" placeholder="Phone Number..." [(ngModel)]="phoneNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Delivery Address</mat-label>
        <input matInput type="text" placeholder="Phone Number..." [(ngModel)]="deliveryAddress">
      </mat-form-field>
      <button mat-flat-button style="width:100%;" color="primary" (click)="register()">
        {{ isLoading ? "Registering...": "Register"}}
      </button>
    </div>
  </mat-card-content>
</mat-card>
