<div class="container">
  <div class="side">
    <div *ngFor="let product of products" class="side-item {{activeProductId === product._id ? 'active':''}}"
      (click)="setActiveProductId(product._id)">
      {{product.title}}</div>
    <div class="side-item {{isCreatingStarted ? 'active':''}}" (click)="setCreating()">
      +</div>
  </div>

  <div class="main {{!isCreatingStarted && !activeProductId ? 'empty': ''}}">
    <div *ngIf="activeProductId" class="main-content">
      <div class="main-item">
        <span>Title:</span>
        <mat-form-field>
          <input matInput [(ngModel)]="activeProduct.title">
        </mat-form-field>
      </div>
      <div class="main-item">
        <span>Description:</span>
        <mat-form-field>
          <textarea matInput [(ngModel)]="activeProduct.description"></textarea>
        </mat-form-field>
      </div>
      <div class="main-item">
        <span>Price:</span>
        <mat-form-field>
          <input type="number" min="1" matInput [(ngModel)]="activeProduct.price">
        </mat-form-field>
      </div>
      <div class="main-item">
        <span>Image URLs:</span>
        <div style="display:flex;flex-direction:column:center;gap:10px;padding-top:10px;flex-wrap:wrap;">
          <span *ngIf="!activeProduct.imageUrls.length">No Image Urls</span>
          <button *ngFor="let url of activeProduct.imageUrls" mat-flat-button (click)="removeImageUrl(url)">
            {{url}}
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="main-item" style="max-width: 420px">
        <mat-form-field>
          <input type="url" placeholder="Url..." matInput [(ngModel)]="newImageUrl">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="addNewImageUrl()">Add New Image URL</button>
      </div>
    </div>
    <div *ngIf="activeProductId" class="main-actions">
      <button mat-flat-button color="primary" (click)="update()" [disabled]="isUpdating">{{isUpdating ? "Updating...":
        "Update"}}</button>
      <button mat-flat-button color="warn" (click)="remove()" [disabled]="isUpdating">{{isUpdating ? "Removing...":
        "Remove"}}</button>
    </div>
    <div *ngIf="isCreatingStarted" class="main-content">
      <div class="main-item">
        <span>Title:</span>
        <mat-form-field>
          <input matInput [(ngModel)]="newProduct.title">
        </mat-form-field>
      </div>
      <div class="main-item">
        <span>Description:</span>
        <mat-form-field>
          <textarea matInput [(ngModel)]="newProduct.description"></textarea>
        </mat-form-field>
      </div>
      <div class="main-item">
        <span>Price:</span>
        <mat-form-field>
          <input type="number" min="1" matInput [(ngModel)]="newProduct.price">
        </mat-form-field>
      </div>
      <div class="main-item">
        <span>Image URLs:</span>
        <div style="display:flex;flex-direction:column:center;gap:10px;padding-top:10px;flex-wrap:wrap;">
          <span *ngIf="!newProduct.imageUrls.length">No Image Urls</span>
          <button *ngFor="let url of newProduct.imageUrls" mat-flat-button (click)="removeImageUrl(url)">
            {{url}}
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="main-item" style="max-width: 420px">
        <mat-form-field>
          <input type="url" placeholder="Url..." matInput [(ngModel)]="newImageUrl">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="addNewImageUrl()">Add New Image URL</button>
      </div>
    </div>
    <div *ngIf="isCreatingStarted" class="main-actions">
      <button mat-flat-button [disabled]="isCreating" color="primary" (click)="createProduct()">{{isCreating ?
        "Saving...":
        "Save"}}</button>
    </div>
  </div>
