<div class="container">
  <div class="sub-container">
    <div class="img-container">

      <img
        *ngIf="product!.imageUrls.length"
        [src]="product!.imageUrls[0]"
        alt="product image"
      >
      <img
        *ngIf="!product!.imageUrls.length"
        width="100"
        height="100"
        src="/assets/product.jpg"
        alt="product image"
      >
    </div>

    <div class="text-col">
      <h3>{{product?.title}}</h3>
      <p>{{product?.description}}</p>
    </div>
  </div>

  <div class="sub-container">
    <h3 class="price">{{price}}</h3>
    <div *ngIf="!onCheckout" class="actions">
      <button class="action-btn" (click)="isAuthorized ? buy() : showAuthorizedNotification()">Buy Now</button>
      <button class="action-btn" (click)="isAuthorized ? addToBasket() : showAuthorizedNotification()">Add to
        Basket</button>
    </div>

    <div *ngIf="onCheckout" class="actions">
      <button class="action-btn" (click)="isAuthorized ? addToBasket() : showAuthorizedNotification()">One More</button>
      <button class="action-btn" (click)="isAuthorized ? removeFromBasket() : showAuthorizedNotification()">Remove From Basket</button>
    </div>

  </div>
</div>
