.header {
  position: sticky;
  top: 0;

  width: 100%;
  height: 80px;

  z-index: 1;
}

.header .content {
  display: flex;
  height: 100%;

  justify-content: space-between;
  align-items: center;

  padding-inline: 40px;
}

.logo {
  font-size: 24px;
  font-weight: 600;

  color: white;

  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);

  user-select: none;
}

.header nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  display: inline-block;

  font-size: 18px;
  font-weight: 500;

  color: white;

  padding: 10px;

  text-decoration: none;
}

.nav-link.active,
.nav-link:hover {
  border-bottom: 2px solid white;
  padding-bottom: 8px;

  user-select: none;
}

.actions {
  display: flex;
  gap: 20px;

  color: white;
  align-items: center;
}

.actions h3 {
  font-size: 18px;
  margin: 0;
}

.actions mat-icon {
  --size: 42px;
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
}

.action-btn.active,
.action-btn:hover {
  background: white;
  color: black;
}

.action-btn {
  font-size: 18px;

  background: transparent;

  border: 2px solid white;
  border-radius: 20px;

  color: white;
  text-decoration: none;

  padding: 0.5em 1em;

  cursor: pointer;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.cart {
  position:relative;
  color: white;

  cursor: pointer;
}

.cart mat-icon {
  font-size:32px;
  width: 32px;
  height: 32px;
}

.cart span {
  position: absolute;
  display: block;
  right: -6px;
  bottom: -6px;

  display: grid;
  place-items: center;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: orange;
}
