<ng-container *ngIf="isLoading">
  <loader-page />
</ng-container>
<ng-container *ngIf="!isLoading && !isAuthorized">
  <main style="background:whitesmoke">
    <div style="display:flex;flex-direction:column;align-items:center;gap:20px">
      <div style="display:flex;align-items:center;gap:10px">
        <h3 style="font-size:24px;font-weight:600;color:purple;line-height:1;margin:0">[SY Commerce]</h3><span
          style="color:gray;line-height:1;font-size:24px">|</span>
        <p style="font-size:20px;margin:0">Admin</p>
      </div>
      <login-form />
      <p>With great power comes great responsibility...</p>
      <p>Use it carefully and wisely =P</p>
    </div>
  </main>
</ng-container>
<ng-container *ngIf="isAuthorized">
  <header>
    <div class="tabs">
      <div (click)="setActiveTab('users')" class="tab {{activeTab === 'users' ? 'active': ''}}">
        <span>
          Users
        </span>
      </div>
      <div (click)="setActiveTab('products')" class="tab {{activeTab === 'products' ? 'active': ''}}">
        <span>
          Products
        </span>
      </div>
      <div (click)="setActiveTab('orders')" class="tab {{activeTab === 'orders' ? 'active': ''}}">
        <span>
          Orders
        </span>
      </div>
    </div>
    <div style="display:flex;align-items:center;gap:10px">
      <a mat-flat-button color="primary" href="/landing">To Landing</a>
      <button mat-flat-button color="primary" (click)="logout()">Log Out</button>
    </div>
  </header>
  <div class="content">
    <ng-container *ngIf="activeTab === 'users'"><users-list [users]="users" /></ng-container>
    <ng-container *ngIf="activeTab === 'products'"><products-list [products]="products" /></ng-container>
    <ng-container *ngIf="activeTab === 'orders'"><orders-list [orders]="orders" [users]="users"
        [products]="products" /></ng-container>
  </div>
</ng-container>
