<ng-container *ngIf="isLoading">
  <loader-page />
</ng-container>
<ng-container *ngIf="!isLoading && !isAuthorized">
  <main>
    <login-form />
  </main>
</ng-container>
<ng-container *ngIf="isAuthorized">
  <header>
    <div class="tabs">
      <div (click)="setActiveTab('users')" class="tab {{activeTab === 'users' ? 'active': ''}}">
        <span>
          Users
        </span>
      </div>
      <div (click)="setActiveTab('products')" class="tab {{activeTab === 'products' ? 'active': ''}}">
        <span>
          Products
        </span>
      </div>
      <div (click)="setActiveTab('orders')" class="tab {{activeTab === 'orders' ? 'active': ''}}">
        <span>
          Orders
        </span>
      </div>
    </div>
    <button mat-flat-button color="primary" (click)="logout()">Log Out</button>
  </header>
  <div class="content">
    <ng-container *ngIf="activeTab === 'users'"><users-list [users]="users" /></ng-container>
    <ng-container *ngIf="activeTab === 'products'"><products-list [products]="products" /></ng-container>
    <ng-container *ngIf="activeTab === 'orders'"><orders-list [orders]="orders" /></ng-container>
  </div>
</ng-container>
